* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: solid 1px black;
    clear: both;
}

section {
    height: 300px;
    width: 33.3333%;
    border: solid 1px black;
    float: left;
}
