/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display: flex;
  flex-direction: column;
  background-color: rgb(215, 207, 197);
  color: rgb(52, 101, 64);
}

h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  border: 3px solid black;
  list-style: none;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 54px;
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
