/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
a {
  text-decoration: none;
  color: #2C4458;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F9FC;
  color: #2C4458;
}

.button {
  color: #F5F9FC;
  background-color: #2C4458;
  padding: 10px 25px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  height: 125px;
  width: 100%;
  margin: 0;
}

header > * {
  float: left;
  width: 25%;
  margin: 0;
}

header h2 {
  margin: 10px 0 0 20px;
}

nav {
  width: calc(50% - 20px);
}

header li {
  float: left;
  width: 25%;
}

header a.button {
  float: right;
  margin: 10px 20px 0 0;
  font-size: 85%;
}

section#features{
  width: 100%;
}

.top {
  width: 50%;
  height: 600px;
  float: left;
  border: solid 1px #2C4458;
}

#devices{
  float: right;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1200px) {
  .desktop{
       float: none;
  }
}
