/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
a {
  text-decoration: none;
  color: #2C4458;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F9FC;
  color: #2C4458;
}

.button {
  color: #F5F9FC;
  background-color: #2C4458;
  padding: 10px 25px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  height: 125px;
  width: 100%;
  margin: 0;
}

header > * {
  float: left;
  width: 25%;
  margin: 0;
}

header h2 {
  margin: 10px 0 0 20px;
}

nav {
  width: calc(50% - 20px);
}

header li {
  float: left;
  width: 25%;
}

header a.button {
  float: right;
  margin: 10px 20px 0 0;
  font-size: 85%;
}

section#features{
  width: 100%;
}

.top {
  width: 50%;
  height: 400px;
  float: left;
}

.top p{
  margin-top: 15px;
}
h1 {
  font-size: 240%;
}

#devices{
  overflow: hidden;
}

#devices > img{
  float: right;
  width: 100%;
  overflow: hidden;
  max-height: 400px;
  max-width: 525px;
}

form{
  height: 40px;
}

form * {
  float: left;
  height: 40px;
}

input{
  background-color: #E2EAF0;
  border: none;
  color: #97AABB;
}

header + section {
  padding: 40px 120px 0 60px;
}

header + section + section + section{
  width: 100%;
  padding: 0 10%;
}

section > section {
  float: left;
  width: 25%;
}

section > section h2 {
  font-size: 108%;
}

section#features{
  float: left;
  width: 100%;
  margin: 6% 0;
}

section#info{
  width: 100%;
  height: 400px;
  float: left;
  background-color: white;
  padding: 3% 40px;
}

#info h2 {
  padding: 0 70% 0 40px;
  font-size: 240%;
}

#info p {
  padding: 0 60% 0 40px;
}

div#generic {
  width: calc(100% - 80px);
  height: 80px;
  padding: 0 40px;
  margin: 0 40px;
  background-color: #E2EAF0;
  color: #E2EAF0;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1000px) {
  header nav, header div{
       display: none;
  }
  header h2 {
    width: 100%;
    margin: 12px;
    text-align: center;
  }

  header{
    border-bottom: solid 1px #97AABB;
    height: 10%;
  }

  header + section#tagline, #devices, form *{
    width: 100%;
  }

  form div {
    text-align: center;
    margin: 15px 0;
  }

  #features, #info{
    display: none;
  }
}
