/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: rgb(59, 59, 59);
  color: rgb(253, 247, 238);
  text-align: center;
}


.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
  width: 100%;
}

.carousel-item.active {
  display: block;
}
